
body{
    font-size:14px;
}
div.header{
    height: 20px;
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
    padding-left: 12px;
}
div.page-bottom{
    font-size: 9px;
    color: rgba(0,0,0,0.5);
    text-align:right;
    padding-right: 10px;
}
pre.code{
    width:100%;
    font-size:1em;
    margin:0;
    padding:10px;
}
input#command-line{
    height:25px;
    width:75%;
    max-width:600px;
    font-family:monospace;
    margin-bottom:5px;
    font-size:1em;
}
span.exported a.show_export_details{
    background-color: transparent;
    padding: 0px 10px 0px 5px;
    color: #909090;
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
}
span.exported a.show_export_details:hover{
    background-color: #383636;
    color: #f5f3ee;
}
div#loginform{
    width:500px;
    height:300px;
    margin:auto;
    top:200px;
}
button.btn{
    display: inline-block;
    border-radius: 4px;
    margin: 0 5px;
    padding: 7px 12px 6px!important;
    color: #666;
    font-size: 12px!important;
    border: 1px solid #B6B6B6;
    background-image: -webkit-linear-gradient(#fff 0,#e7e7e7 100%);
    background-image: -moz-linear-gradient(#fff 0,#e7e7e7 100%);
    background-image: -ms-linear-gradient(#fff 0,#e7e7e7 100%);
    background-image: -o-linear-gradient(#fff 0,#e7e7e7 100%);
    background-image: linear-gradient(#fff 0,#e7e7e7 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffe7e7e7', endColorstr='#ffffffff', GradientType=0);
    outline: 0;
    box-shadow: 0 1px 0 #fff;
    cursor: default;
    min-width: 75px;
    line-height: 100%!important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
    cursor:pointer;
}
#event_log .event_log_item{
    margin-top:10px;
    font-family:monospace;
}
#event_log .event_log_item:nth-child(even){
    background-color:#fbfbfb;
}
#event_log .event_log_item:first-child{
    color:blue;
}
#tabs{
    background-color: #efefef;
}
.tab-content{
   width:100%;
   position: relative;
   background-color:white;
   padding:2px;
}
#node-info{
    padding-top:10px;
}
.box {
    -webkit-box-shadow: 1px 1px 2px 0px rgba(156,156,156,1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(156,156,156,1);
    box-shadow: 1px 1px 2px 0px rgba(156,156,156,1);
}


.apiinfo{
    padding:10px;
}

.apiinfo .title-bar{
    position:fixed;
    padding:10px 0px;
    width:100%;
    border-bottom:solid 1px #f0f0f0;
}
.apiinfo .title-bar a{
    color:blue;
    text-decoration: none;
    margin-right:20px;
}

.apiinfo .comment{
    padding-top:40px;
    padding-left:10px;
}
.apiinfo .comment h1{
    /* Customize Markdown style */
    font-size:1.3em;
}
.apiinfo .comment h2{
    /* Customize Markdown style */
    font-size:1.2em;
}
p.field-remark{
    /* apiinfo's form on right side */
    line-height:14px;
}